:host {
  display: contents;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  color: #ccc;

  i {
    font-size: 1rem;
    color: inherit;
  }

  &.active {
    background-color: #03a9f4 !important;
    color: #fff;

    i {
      color: #fff;
    }
  }

  &:hover {
    background-color: #03a9f4 !important;
    color: #fff;
  }

  &:focus {
    outline: none;
    background-color: #03a9f4 !important;
  }
}
