<nav class="sidebar-menu" role="navigation" aria-label="Sidebar">
  @for (item of items(); track item.route) {
    <a
      [routerLink]="item.route"
      class="menu-item"
      [ngClass]="{ active: item === activeItem() }"
      [attr.aria-current]="item === activeItem() ? 'page' : null"
    >
      @if (item.icon) {}
      <mat-icon aria-hidden="true">{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </a>
  } @empty {
    <div>
      You don’t have any dashboards yet. They’ll appear here as soon as you
      create them
    </div>
  }
</nav>
