@use "tokens" as t;

.connection-box.height-40 .mat-mdc-form-field-infix {
  padding: 0;
}

/* stylelint-disable selector-class-pattern */
.connection-box
  .mat-mdc-text-field-wrapper
  .mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-left: t.$spacing-sm;
}
/* stylelint-enable selector-class-pattern */

.mat-mdc-chip.mat-primary {
  border-radius: t.$radius-sm;
}

.mdc-tooltip-surface {
  background-color: t.$background-dark-color;
  color: t.$text-light-color;
}

.mdc-icon-button.go-to-top {
  position: fixed;
  bottom: t.$spacing-xl * 2;
  right: t.$spacing-sm;
}

.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}
