.connection-box.height-40 .mat-mdc-form-field-infix {
  padding: 0;
}

/* stylelint-disable selector-class-pattern */
.connection-box
  .mat-mdc-text-field-wrapper
  .mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-left: 10px;
}
/* stylelint-enable selector-class-pattern */

/* === MAT CHIP === */
.mat-mdc-chip.mat-primary {
  border-radius: 4px;
}

/* === TOOLTIP === */
.mdc-tooltip-surface {
  background-color: #333;
  color: white;
}

/* === GO-TO-TOP ICON === */
.mdc-icon-button.go-to-top {
  position: fixed;
  bottom: 70px;
  right: 12px;
}

/* === PAGINATOR === */
.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}

/* === LINKS === */
mat-icon.link {
  vertical-align: middle;
  color: #6495ed;
}

mat-icon.link:hover {
  color: #81a6e9;
}

a.link,
a.link:visited {
  color: #6495ed;
}

a.link:hover {
  color: #81a6e9;
}

/* === TEXT ALIGNMENT === */
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-right-i {
  text-align: right !important;
}

/* === TYPOGRAPHY === */
.monospace {
  font-family: monospace;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-small-7 {
  font-size: 0.7rem !important;
}

.text-small {
  font-size: 0.8rem !important;
}

/* === BREAK CONTROL === */
.word-break-all {
  word-break: break-all !important;
}

.word-break-word {
  overflow-wrap: break-word !important;
}

/* === BODY FONT === */
@font-face {
  font-family: CustomFont;
  src: url("../fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.body-text {
  font-family: CustomFont, sans-serif;
}
