.burger-button {
  position: relative;
  display: inline-block;
  width: 2rem;
  cursor: pointer;
  color: inherit;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: currentcolor;
    transition: transform 0.2s ease;
  }

  &::before {
    top: 4px;
    box-shadow: 0 8px 0 0 currentcolor;
  }

  &::after {
    bottom: 4px;
  }

  &:hover,
  &:focus {
    color: #03a9f4;
    outline: none;
  }
}
