:root {
  --color-service: #81c784;
  --color-route: #64b5f6;
  --color-upstream: #ffb74d;
  --color-vault: #7986cb;
  --color-any: #fff176;
  --color-consumer: #e0e0e0;
  --color-target: #f06292;
  --color-host: #e57373;
  --color-plugin: #fff176;
  --color-healthy: #c0ca33;
  --color-unhealthy: #ff7043;
  --color-neutral: #608f8f;
  --color-delete: #e40419;
  --color-info: #345ca8;
}

.color-service {
  color: var(--color-service) !important;
}

.color-route {
  color: var(--color-route) !important;
}

.color-upstream {
  color: var(--color-upstream) !important;
}

.color-vault {
  color: var(--color-vault) !important;
}

.color-any {
  color: var(--color-any) !important;
}

.color-consumer {
  color: var(--color-consumer) !important;
}

.color-target {
  color: var(--color-target) !important;
}

.color-host {
  color: var(--color-host) !important;
}

.color-plugin {
  color: var(--color-plugin) !important;
}

.color-healthy {
  color: var(--color-healthy) !important;
}

.color-unhealthy {
  color: var(--color-unhealthy) !important;
}

.color-neutral {
  color: var(--color-neutral) !important;
}

.color-delete {
  color: var(--color-delete) !important;
}

.color-info {
  color: var(--color-info) !important;
}
