@use "tokens" as t;

.mat-mdc-chip.mat-primary {
  border-radius: t.$radius-sm;
}

.mdc-tooltip-surface {
  background-color: t.$background-dark-color;
  color: t.$text-light-color;
}

.mdc-icon-button.go-to-top {
  position: fixed;
  bottom: t.$spacing-xl * 2;
  right: t.$spacing-sm;
}

.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}

.app-link-icon {
  vertical-align: middle;
  color: var(--color-route);
}

.app-link-icon:hover {
  filter: brightness(1.2);
}

.app-link-text,
.app-link-text:visited {
  color: var(--color-route);
  text-decoration: none;
}

.app-link-text:hover {
  text-decoration: underline;
  filter: brightness(1.2);
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.font-monospace {
  font-family: monospace;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: bold;
}

.font-style-italic {
  font-style: italic;
}

.font-size-sm {
  font-size: t.$font-size-sm;
}

.word-break-all {
  word-break: break-all;
}

.overflow-wrap-word {
  overflow-wrap: break-word;
}
