.logout-label,
.rs-label,
.user-name {
  display: block; // или inline-block
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.logout-container {
  width: 100%;
  display: flex;
}

.logout-button {
  text-decoration: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  transition: color 0.2s ease;

  &:hover {
    color: #6cf;
  }

  mat-icon {
    font-size: 20px;
  }

  .logout-label {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.user-info {
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
}

.rs-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.rs-icon a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6cf;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px rgb(0 0 0 / 40%);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.rs-link {
  color: #ccc;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover {
    color: #6cf;
    text-decoration: underline;
  }
}

.initials-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #6cf;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #6cf;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
