.sensor {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 10px;
}

.sensor-icon {
  font-size: 24px;
  color: rgb(3 169 244);
}

.sensor-label {
  font-weight: 500;
  font-size: 0.875rem;
}

.sensor-value {
  font-size: 0.8rem;
}

mat-icon {
  width: auto;
}
