.device {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  color: white;
}

.device-label {
  flex-grow: 1;
  font-weight: 500;
  font-size: 1rem;
}

.device-icon {
  font-size: 28px;
  color: #bdbdbd;
  transition: color 0.3s ease;
}

.device.device-on .device-icon {
  color: #ffc107;
}
