.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;

  @media (width <= 560px) {
    flex-flow: column nowrap;
  }
}

.app-card {
  @media (width <= 560px) {
    width: 100%;
  }
}
