<div class="card">
  <h3 class="card-title">{{ card.title }}</h3>

  <ng-container [ngSwitch]="layoutVariant">
    <div *ngSwitchCase="'single'" class="card-single">
      <ng-container *ngIf="devices.length">
        <app-device [device]="devices[0]" />
      </ng-container>
      <ng-container *ngIf="sensors.length">
        <app-sensor [sensor]="sensors[0]" />
      </ng-container>
    </div>

    <div *ngSwitchCase="'horizontal'" class="card-horizontal">
      <app-device *ngFor="let device of devices" [device]="device" />
      <app-sensor *ngFor="let sensor of sensors" [sensor]="sensor" />
    </div>

    <div *ngSwitchCase="'vertical'" class="card-vertical">
      <app-device *ngFor="let device of devices" [device]="device" />
      <app-sensor *ngFor="let sensor of sensors" [sensor]="sensor" />
    </div>
  </ng-container>
</div>
