<span
  class="burger-button"
  [class.hidden]="isTablet() && isTabletOpen"
  role="button"
  tabindex="0"
  aria-label="Toggle menu"
  (click)="toggleSidebar()"
  (keydown.enter)="toggleSidebar()"
>
  <span></span>
</span>

<ng-template #sidebarContent>
  <div class="sidebar-list">
    <app-sidebar-header></app-sidebar-header>
    <app-sidebar-menu></app-sidebar-menu>
    <app-sidebar-footer></app-sidebar-footer>
  </div>
</ng-template>

@if (isTabletOpen()) {
  <aside
    class="sidebar tablet-open"
    appCloseSidebarOnOutsideClick
    (close)="closeSidebar()"
  >
    <ng-container [ngTemplateOutlet]="sidebarContent"></ng-container>
  </aside>
} @else {
  <aside
    class="sidebar"
    [class.closed]="!isOpen()"
    [class.collapsed]="isTablet()"
  >
    <ng-container [ngTemplateOutlet]="sidebarContent"></ng-container>
  </aside>
}
