<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="switchTab($event)">
  <mat-tab label="Overview"></mat-tab>
  <mat-tab label="Lights"></mat-tab>
</mat-tab-group>

<section *ngIf="tab">
  <div *ngFor="let card of tab.cards" class="card">
    <h3 class="card-title">{{ card.title }}</h3>
    <div class="card-body" [ngClass]="layoutClasses(card.layout)">
      <ng-container *ngFor="let item of card.items">
        <div *ngIf="item.type === 'device'" class="device">
          <i [ngClass]="item.icon"></i>
          <span class="label">{{ item.label }}</span>
          <span class="state" [ngClass]="item.state ? 'on' : 'off'">
            {{ item.state ? "On" : "Off" }}
          </span>
        </div>
        <div *ngIf="item.type === 'sensor'" class="sensor">
          <i [ngClass]="item.icon"></i>
          <span class="label">{{ item.label }}</span>
          <span class="value">
            {{ item.value.amount }} {{ item.value.unit }}
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</section>
