$gap-xl: 2rem;
$gap-md: 1rem;

.smart-view {
  display: flex;
  flex-direction: column;
  gap: $gap-xl;
  padding: $gap-xl;
  color: white !important;
}

mat-tab-group {
  margin-bottom: $gap-xl;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-md;
  justify-content: center;
}
