.about-box {
  padding: 3rem 4rem;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.section-title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 8px;
}

.features,
.tech-stack {
  padding-left: 16px;
  margin-bottom: 16px;
}

.intro {
  font-size: 16px;
  line-height: 1.6;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  font-size: 14px;
}

.alias {
  font-style: italic;
  margin-left: 4px;
}
